.activity {
    display: none;
    padding-top: 0;

    @media (min-width: 1200px) {
    
        display: block;
    }

    &__img-heading {
        margin: 0 0 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;

        color: var(--primary-text-color);
    }

    &__img-list {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    &__section-title {
        position: relative;
    }

    &__title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        width: 370px;
        height: 70px;

        background: rgba(47, 48, 58, 0.8);
    }

    &__text {
        padding: 27px 0;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
        color: var(--white-color);
    }
}

