.features {
    

    &__title {
        margin: 0 0 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        color: var(--primary-text-color);
    }

    &__text {
        margin: 0;
        font-size: 14px;
        line-height: 1.7;
        color: var(--secondary-text-color);
        text-align: left;
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;

        text-align: center;

        @media (min-width: 768px) {
            text-align: left;
        }
        
    }

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 30px;
        height: 120px;
        width: 100%;
        border-radius: 4px;

        background-color: var(--secondary-background-color);
    
        &.container {
            @media (min-width: 768px) {
                
            }
        }
    }

    &__item {
        flex-basis: calc((100% - 120px) / 4);

        @media (max-width: 1199px) {
            flex-basis: calc((100% - 60px) / 2);  
        }

        @media (max-width: 767px) {
            flex-basis: 100%;  
        }
    }

}  


