.hero {
    margin: 0 auto;
    padding-bottom: 94px;
    padding: 200px 0;

    max-width: 1600px;
    text-align: center;

    background-color: var(--blocks-background-color);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/hero-pic.jpg");

        &__title {
                margin: 0 auto;
                margin-bottom: 30px;
        
                max-width: 696px;
                font-weight: 900;
                font-size: 44px;
                line-height: 1.36;
                letter-spacing: 0.06em;
                text-align: center;
                color: var(--white-color);
            }
}

